apiVersion: v1
kind: Service
metadata:
  name: webapp
  labels:
    app: webapp
spec:
  type: {{ .Values.service.type }}
  selector:
    app: webapp
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: 80
